@import "settings";
@import "foundation";

* {
/**Управляем плавным переходом кнопок**/
  transition: color 300ms ease-out;
  transition: background 300ms ease-out;
}

@mixin black-shadow {
  -webkit-box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.32);
  -moz-box-shadow:    0px 0px 4px 3px rgba(0, 0, 0, 0.32);
  box-shadow:         0px 0px 4px 3px rgba(0, 0, 0, 0.32);
}

/**
* Поведение для тегов
*/
@mixin tag_behaviar {
  a {
    @extend .rounded;
    padding: 4px 6px;
  }
  a:hover {
    @extend .rounded;
    color: $white;
    background: $orange;
  }
}

.large-row {
  @include grid-row(nest-collapse);
}

/*
* HEADER
*/
header.large-row {
  @include black-shadow();
  background: $blue;
  margin-bottom: rem-calc(10);
  .white-row {
    @include black-shadow();
    margin:10px 0 10px 0;
    background: $white;
  }

  .toggle-topbar.menu-icon {
    margin: 6px 0 0 0;
  }

  .top-bar {
    .title-area:hover {
      .logo {
        transform: translate(158px, 0)          scale(1.5, 1.5);
        -webkit-transform: translate(158px, 0)  scale(1.5, 1.5); /** Chrome & Safari **/
        -o-transform: translate(158px, 0)       scale(1.5, 1.5); /** Opera **/
        -moz-transform: translate(158px, 0)     scale(1.5, 1.5); /** Firefox **/
      }

      .name {
        position: relative;
        z-index: 10;
      }
    }
    .title-area {
      .logo {
        z-index: 9;
        top: 8px;
        position: absolute;
        transition: all 2s ease-in-out;
        -webkit-transition: all 2s ease-in-out; /** Chrome & Safari **/
        -moz-transition: all 2s ease-in-out; /** Firefox **/
        -o-transition: all 2s ease-in-out; /** Opera **/
      }

      .name {
        margin: 0 0 0 40px;
        h2 {
          font-family: Tahoma;
          font-size: 16px;
          color: $oil;

          a {

            font-family: 'Segoe Script';
            padding:0;
            width: auto;
          }

          a:active {
            margin-top: 1px;
          }
          a:hover {
            font-weight: 300;
            color: $orange;
          }
        }
      }
    }
  }
}

/*
* content
*/
#content {
  article {
    background: $white;
    padding: rem-calc(5);
    margin-bottom: rem-calc(10);

    .tags {
      @include tag_behaviar();
    }
  }

  /**
  * Хлебные крошки
  */
  .breadcrumbs {
    background: $panel-bg;
    margin: 0px 0 10px 0;
  }


  .pagination {
    @extend .rounded;
    @extend .shadowed;
    background: $panel-bg;
    li {
      margin: rem-calc(3) 0 rem-calc(3) 0;
    }
  }



  /**
  * SIDEBAR
  */
  aside {

    // боковая навигация
    .side-nav ul {

    }

    .tagcloud {
      @include tag_behaviar();
    }
  }



  /*
  * footer
  */
  footer {
    @include black-shadow();
    background: $blue;
  }

}

.rounded {
  -webkit-border-radius: $global-radius;
  -moz-border-radius: $global-radius;
  border-radius: $global-radius;
}

.shadowed {
  -webkit-box-shadow: 0px 0px 3px 0px $steel;
  -moz-box-shadow:    0px 0px 3px 0px $steel;
  box-shadow:         0px 0px 3px 0px $steel;
}




