@import "settings";
@import "foundation";


.large-row {
  @include grid-row(nest-collapse);
}

header.large-row {
  background: $blue;
//  color: $oil;
  .white-row {
    margin:10px 0 10px 0;
    background: $white;
  }

  .toggle-topbar.menu-icon {
    margin: 6px 0 0 0;
  }

  .top-bar {
    .title-area:hover {
      .logo {
        transform: translate(158px, 0);
        -webkit-transform: translate(158px, 0); /** Chrome & Safari **/
        -o-transform: translate(158px, 0); /** Opera **/
        -moz-transform: translate(158px, 0); /** Firefox **/
      }

      .name {
        position: relative;
        z-index: 10;
      }
    }
    .title-area {
      .logo {
        z-index: 9;
        top: 8px;
        position: absolute;
        transition: all 2s ease-in-out;
        -webkit-transition: all 2s ease-in-out; /** Chrome & Safari **/
        -moz-transition: all 2s ease-in-out; /** Firefox **/
        -o-transition: all 2s ease-in-out; /** Opera **/
      }

      .name {
        margin: 0 0 0 40px;
        h2 {
          font-family: Tahoma;
          font-size: 16px;
          color: $oil;
        }
      }
    }
  }
}

/*
* content
*/
#content {
  article {
    background: $white;
    padding: rem-calc(5);
    margin-bottom: rem-calc(10);
  }
}

.rounded {
  -webkit-border-radius: $global-radius;
  -moz-border-radius: $global-radius;
  border-radius: $global-radius;
}

/*
* footer
*/
footer {
  background: $blue;
}
